<div class="col-sm-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title text-center">{{stateData.name }}</h3>
        </div>
        <div class="panel-body display">
            <div class="row">
                <div class="col-sm-4">
                    Name :
                </div>
                <div class="col-sm-8">
                    {{stateData.name }}
                </div>
            </div>
            <div class="row display">
                <div class="col-sm-4">
                    Abbreviation :
                </div>
                <div class="col-sm-8">
                    {{stateData.abbr }}
                </div>
            </div>
            <div class="row display">
                <div class="col-sm-4">
                    Area :
                </div>
                <div class="col-sm-8">
                    {{stateData.area }}
                </div>
            </div>
            <div class="row display">
                <div class="col-sm-4">
                    Capital :
                </div>
                <div class="col-sm-8">
                    {{stateData.capital }}
                </div>
            </div>
        </div>
    </div>
</div>